<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <!-- Searchbar in a Toolbar -->
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="gradent">
    <div id="container">

      <ion-grid> 
        <ion-row>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon  color="danger" class="custom-icon" name="mail-unread-outline"></ion-icon> 
              </ion-button>
            </ion-buttons>
            <p>Email</p>
          </ion-col>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="warning" class="custom-icon" name="image-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Galeria</p>
          </ion-col>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="secondary" class="custom-icon" name="earth-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Internet</p>
          </ion-col>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="medium" class="custom-icon" name="settings-outline"></ion-icon> 
            </ion-button>
            </ion-buttons>
            <p>Ajustes</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="secondary" class="custom-icon" name="partly-sunny-outline"></ion-icon> 
              </ion-button>
            </ion-buttons>
            <p>clima</p>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-buttons>
              <ion-button>
                <ion-icon color="secondary" class="custom-icon" name="logo-linkedin"></ion-icon> 
              </ion-button>
            </ion-buttons>
            <p>linkedin</p>
          </ion-col>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="warning" class="custom-icon" name="logo-usd"></ion-icon> 
              </ion-button>
            </ion-buttons>
            <p>Dinero</p>
          </ion-col>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="danger" class="custom-icon" name="logo-pinterest"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Pinterest</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="success" class="custom-icon" name="logo-vimeo"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Vimeo</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="primary" class="custom-icon" name="logo-skype"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Skype</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="tertiary" class="custom-icon" name="logo-twitch"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Twitch</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="success" class="custom-icon" name="logo-xbox"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Xbox</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="success" class="custom-icon" name="logo-react"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>React</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="success" class="custom-icon" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Whatsapp</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="primary" class="custom-icon" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Twitter</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="dark" class="custom-icon" name="wifi-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Wifi</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="danger" class="custom-icon" name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Instagram</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="primary" class="custom-icon" name="logo-playstation"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>playstation</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="dark" class="custom-icon" name="camera-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Camara</p>
          </ion-col>
          
          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon color="danger" class="custom-icon" name="heart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <p>Salud</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <h5 class="date">
        <ion-datetime value="2021-09-18T15:43:40.394Z" displayFormat="" display-timezone="utc"></ion-datetime>
      </h5>




      <!-- Footer -->
<ion-footer color="dark">
  <ion-toolbar>
    <ion-buttons>
      <ion-button id="button">
        <ion-icon class="custom-icon"  color="success" name="logo-whatsapp" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="custom-icon" color="danger" name="logo-youtube"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="custom-icon" color="tertiary" name="finger-print-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="custom-icon" color="warning" name="logo-chrome"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="custom-icon" color="primary" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

    </div>
  </ion-content>

  

